/***********************
  Table Styling
***********************/

.word-table{
    width: 100%;
}
.tbl-no{
    width: 20px;
}
.tbl-edit{
    width: 90px;
}


/*default css*/


.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

* html .clearfix {
    height: 1%; 
} 

.emphasis {
    font-weight: 700;
}
.wrapper {
    width:890px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: inherit;
}

html {
  font-size: 100.01%;
  background-attachment:fixed;
  background: #E6E6E6 url('../img/bg.png') repeat-x;
  overflow-y: auto; overflow-x: hidden;
} 
body {
    font-family: 'Open Sans', 'Source Sans Pro', sans-serif;
    font-size: 100%; text-shadow: 0 1px #fff;
    text-rendering: optimizelegibility;
    overflow: hidden; clear: both;
    -webkit-tap-highlight-color: rgba(255,255,255,0.1);
    -webkit-text-size-adjust: 100%;
    -moz-tap-highlight-color: rgba(255,255,255,0.1);
    -moz-text-size-adjust: 100%;
}
input,
select,
textarea,
{
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-width: 0;
}
input:focus,
select:focus,
textarea:focus,
button:focus  {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-width: 0;
}
/*index.html*/
div.wrapper#index {
    min-height: 600px;
}
div.wrapper#index table {
    border: solid 1px rgb(226, 226,226);
}
